body {
  background: radial-gradient(circle, #0f0f52, #000);
  background-size: 100% 100%;
  font-weight: bold;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #252525;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 5px 5px 5px #5ec0c2;
  width: 100px;
  display: inline-block;
  border-radius: 5px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #414141;
  color: white;
}

h1 {
  color: white;
  padding: 0;
  margin: 20px;
  text-align: center;
}

p {
  color: white;
  font-size: 20px;
  margin: 5px;
}

h2 {
  color: white;
  padding: 0;
  margin: 20px;
  text-align: center;
}

h3 {
  color: white;
  padding: 0;
  margin: 20px;
  text-align: center;
}

.navdirect {
  color: white;
  padding: 15px;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav:hover {
  background-color: #111;
  color: #111;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.hoverp a:hover {
  color: #666;
}
